<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="static/css/fullscreen.css" />

    <style>
      .ui-video {
        position: relative;
        height: 0;
        padding-bottom: 56%;
      }

      .ui-video img,
      .ui-video video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        background: #000;
      }

      .fullscreen-slide {
        font-size: 40px;
      }

      .scenes {
        position: relative;
        width: 100%;
        height: 100%;
      }

      #scenes1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      #btn1 {
        font-size: 50px;
      }

      #scenes {
        height: 100%;
        width: 100%;
      }

      /* #btn1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      } */

      #bfq,
      #bofqi {
        position: absolute;
        top: 0;
        left: 0;
        background: red;
        height: 100%;
        width: 100%;
      }
      /* .fullscreen-slide {
        z-index: 100;
      } */
    </style>
  </head>
  <body>
    <div id="btn1">点我</div>

    <div
      id="fullscreen"
      class="fullscreen-container"
      style="display: none;"
    ></div>

    <script>
      var arr = [
        {
          video_url:
            'http://resource.yaokan.sogoucdn.com/videodown/4506/127/12bacefa7ee910bd3de03ff50da178d6.mp4'
        },
        {
          video_url:
            'http://1400094915.vod2.myqcloud.com/3df4ea08vodtransgzp1400094915/75419f405285890786975828136/v.f20.mp4'
        }
      ]
      var h5player
      var bfq
      var fs = document.getElementById('fullscreen')

      var btn = document.getElementById('btn1')
      btn &&
        btn.addEventListener('click', function(e) {
          // 创建 fullscreen
          var html =
            '<div class="fullscreen-wrapper">' +
            '<div id="bofqi"></div>' +
            '<div class="fullscreen-slide">' +
            '<div class="bofqi">Slide 0</div>' +
            '<div style="width:100px;height:100px;background:blue">xxx</div>' +
            '</div>' +
            '<div class="fullscreen-slide">' +
            '<div class="bofqi">Slide 1</div>' +
            '</div>' +
            '</div>'

          e.target.style.display = 'none'

          fs.innerHTML = html

          fs.style.display = 'block'

          bfq = document.getElementById('bofqi')

          h5player = new window.H5Player()
          h5player.set(arr[0])
          h5player.play()
          createFullscreen()
        })

      function createFullscreen() {
        var fullscreen = new FullScreen('.fullscreen-container', {
          longSwipesRatio: 0.1,
          on: {
            tap: function(e) {
              console.log('tap -> ', this.activeIndex)
            },
            // TODO: 什么时间隐藏当前 video 什么时机显示 video
            slideChange: function() {},
            transitionStart: function() {
              // bfq.style.display = 'none'
            },
            transitionEnd: function() {
              // bfq.style.display = 'block'
            },
            slideChangeTransitionEnd: function() {
              var that = this
              var $bfq = this.$('#bofqi')

              var activeIndex = this.activeIndex

              var len = this.slidesGrid.length
              var y = this.slidesGrid[this.activeIndex]
              // $bfq[0].style.top = -y + 'px'
              $bfq.transition(0)
              $bfq.transform(
                'translate3d(' + 0 + 'px, ' + y + 'px, ' + 0 + 'px)'
              )

              var videoIndex = activeIndex % 2

              // h5player.destroy()
              // h5player.create()
              h5player.set(arr[videoIndex])
              h5player.play()

              that.addSlide(
                window.Infinity,
                '<div class="fullscreen-slide">Slide ' + len + '</div>'
              )
            }
          }
        })
      }
    </script>
  </body>
</html>
