<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="static/css/fullscreen.css" />

    <style>
      .fullscreen-slide {
        font-size: 40px;
        background: #fff;
      }
    </style>
  </head>
  <body>
    <div id="fullscreen" class="fullscreen-container fullscreen-container">
      <div class="fullscreen-wrapper">
        <div class="fullscreen-slide">
          <div id="btn1">点我</div>
          Slide 0
        </div>
        <div class="fullscreen-slide">
          Slide 1
        </div>
        <div class="fullscreen-slide">
          Slide 2
        </div>
      </div>
    </div>

    <script>
      // document.body.addEventListener(
      //   'touchmove',
      //   function(e) {
      //     e.preventDefault() //阻止默认的处理方式(阻止下拉滑动的效果)
      //   },
      //   { passive: false }
      // )

      document.getElementById('btn1').addEventListener('click', function() {
        console.log(1)
      })

      var fullscreen = new FullScreen('.fullscreen-container', {
        direction: 'vertical',
        on: {
          update: function() {
            console.log(12333)
          },
          slideChangeTransitionEnd: function() {
            var len = this.slidesGrid.length
            var activeIndex = this.activeIndex

            if (activeIndex === len - 2) {
              console.log('activeIndex -> ', activeIndex)

              this.addSlide(
                window.Infinity,
                '<div class="fullscreen-slide">Slide ' + len + '</div>'
              )
            }
          }
        }
      })

      // setTimeout(function() {
      //   fullscreen.addSlide(
      //     window.Infinity,
      //     '<div class="fullscreen-slide">Slide X</div>'
      //   )
      // }, 2e3)
    </script>
  </body>
</html>
